<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyp.id.generator.dao.mapper.TDistributedIdMapper">

    <resultMap id="BaseResultMap" type="com.yyp.id.generator.dao.entities.TDistributedId">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="idGeneratorName" column="id_generator_name" jdbcType="VARCHAR"/>
            <result property="idGeneratorValue" column="id_generator_value" jdbcType="BIGINT"/>
            <result property="idGeneratorValueStep" column="id_generator_value_step" jdbcType="INTEGER"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="idDelete" column="id_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,id_generator_name,id_generator_value,
        id_generator_value_step,version,id_delete
    </sql>
</mapper>
